@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Oswald:wght@200..700&display=swap");
/*======================VARIABLES=============================*/
/*======================BASE=============================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", monospace;
  color: #131313;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/*======================REUSED CLASSES=============================*/
.container {
  width: 1200px;
  max-width: 80%;
}

.center-h {
  display: flex;
  justify-content: center;
}

.center-v {
  display: flex;
  align-items: center;
}

/*======================COMPONENTS=============================*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  z-index: 3000;
  position: sticky;
  top: 0%;
}
header .icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #DE753D;
  padding: 8px;
  width: fit-content;
  display: none;
}
header .icons .one-bar {
  display: block;
  width: 45px;
  height: 3px;
  background-color: #f0f0f0;
}
@media (max-width: 768px) {
  header .icons {
    display: flex;
  }
}
header .logo {
  font-size: 40px;
  font-weight: 500;
  color: #c9c9c9;
}
header .logo span {
  color: #DE753D;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
header nav ul li a {
  font-size: 20px;
  color: #c9c9c9;
}
header nav ul li a:hover {
  color: #f0f0f0;
}
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    background-color: #DE753D;
    position: absolute;
    top: -300vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-block: 20px;
    transition: top 0.3s ease-in-out;
    z-index: -1;
  }
  header nav ul li {
    width: 100%;
    padding-inline: 16px;
  }
  header nav ul li a {
    text-align: start;
  }
  header nav ul.opened {
    top: 6rem;
  }
}

/*======================SECTIONS=============================*/
.hero-section {
  padding-block: 34px;
  background-image: linear-gradient(rgba(19, 19, 19, 0.6235294118), rgba(19, 19, 19, 0.6235294118)), url("../Assets/diego-allen-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero-section .hero-section-content {
  width: 700px;
  transform: translateY(150px);
  padding-block: 50px;
}
.hero-section .hero-section-content h1 {
  font-size: 50px;
  color: #f0f0f0;
}
.hero-section .hero-section-content h1 span {
  font-family: "Aref Ruqaa";
  color: #DE753D;
  padding: 8px;
  font-size: 100px;
}
.hero-section .hero-section-content p {
  margin-top: 30px;
  color: #c9c9c9;
  width: 700px;
  font-size: 25px;
  opacity: 0;
  transform: translateY(600px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.hero-section .scroll-down {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #c9c9c9;
  position: absolute;
  bottom: 34px;
  right: 10%;
  opacity: 30%;
  border: 1px solid #c9c9c9;
  animation: animateColor 1s infinite;
}
.hero-section .scroll-down svg {
  animation: moveIcon 1s infinite;
}

.discover-section {
  padding-block: 34px;
  min-height: 100vh;
  position: relative;
}
.discover-section .discover-section-heading h1 {
  font-size: 50px;
}
.discover-section .discover-section-heading h4 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 25px;
}
.discover-section .discover-section-places {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.discover-section .discover-section-places .discover-section-single-place {
  height: 500px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.discover-section .discover-section-places .discover-section-single-place .details {
  display: block;
  background-image: none;
  padding-block: 34px;
  padding-inline: 0;
  width: 0;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path 0.3s ease;
  position: relative;
}
.discover-section .discover-section-places .discover-section-single-place .details::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 300px;
  z-index: 1;
  pointer-events: none;
}
.discover-section .discover-section-places .discover-section-single-place .details .details-imgs {
  width: 100%;
  height: 300px;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.discover-section .discover-section-places .discover-section-single-place .details .details-imgs .main-img {
  object-fit: cover;
  flex-grow: 8;
  padding-right: 4px;
  border-right: 1px solid #c9c9c9;
}
.discover-section .discover-section-places .discover-section-single-place .details .details-imgs .details-caresoul-imgs {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}
.discover-section .discover-section-places .discover-section-single-place .details .details-imgs .details-caresoul-imgs .sec-img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  padding-top: 8px;
  border-top: 1px solid #c9c9c9;
}
.discover-section .discover-section-places .discover-section-single-place .discover-section-single-place-heading {
  padding-block: 8px;
  padding-inline: 16px;
  width: 240px;
  height: 100%;
  background-image: url("../Assets/diego-allen-unsplash.jpg");
  background-size: cover;
  transition: width 0.3s ease;
  position: relative;
}
.discover-section .discover-section-places .discover-section-single-place .discover-section-single-place-heading::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -20px;
  height: 100%;
  width: 40px;
  z-index: 1;
  pointer-events: none;
}
.discover-section .discover-section-places .discover-section-single-place .discover-section-single-place-heading h3 {
  position: absolute;
  transform: rotate(0) translateX(0);
  transition: transform 0.3s ease;
  bottom: 28px;
  background-image: none;
}
.discover-section .discover-section-places .discover-section-single-place .discover-section-single-place-heading:hover {
  transform: scaleX(0.85);
  display: flex;
  justify-content: center;
}
.discover-section .discover-section-places .discover-section-single-place .discover-section-single-place-heading:hover h3 {
  transform: rotate(-90deg) translateX(30px) translateY(-20px);
}
.discover-section .discover-section-places .discover-section-single-place .discover-section-single-place-heading:hover ~ .details {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: 60vw;
  padding-inline: 28px;
  margin-left: 20px;
}
.discover-section .icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 8px;
  position: absolute;
  right: 10%;
}
.discover-section .icons .arrow-icon {
  background-color: #DE753D;
  width: fit-content;
  padding-inline: 16px;
  padding-block: 4px;
  display: flex;
  align-items: center;
}
.discover-section .icons .arrow-icon svg path {
  stroke: #f0f0f0;
}

.history-section {
  height: 100vh;
  padding: 28px;
}
.history-section .history-section-timeline {
  width: 100%;
}
.history-section .history-section-timeline .timeline-content {
  width: 100%;
  position: relative;
}
.history-section .history-section-timeline .timeline-content .timeline-chart {
  position: absolute;
  right: 0;
  top: 30px;
}
.history-section .history-section-timeline .timeline-content .timeline-chart .line-v {
  width: 4px;
  height: 70vh;
  background-color: #DE753D;
  position: relative;
  overflow: hidden;
}
.history-section .history-section-timeline .timeline-content .timeline-chart .line-v::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  animation: moveLine 2s linear infinite;
}
.history-section .history-section-timeline .timeline-content .timeline-chart .event-point {
  width: 15px;
  height: 15px;
  background-color: #DE753D;
  position: absolute;
  top: -6px;
  left: 0px;
  cursor: pointer;
}
.history-section .history-section-timeline .timeline-content .timeline-chart .event-point.active {
  background-color: #f0f0f0;
  border: 2px solid #DE753D;
}
.history-section .history-section-timeline .timeline-content .timeline-chart > :nth-of-type(2) {
  left: 1.1%;
}
.history-section .history-section-timeline .timeline-content .timeline-chart > :nth-of-type(3) {
  left: 29.26%;
}
.history-section .history-section-timeline .timeline-content .timeline-chart > :nth-of-type(4) {
  left: 38.5%;
}
.history-section .history-section-timeline .timeline-content .timeline-chart > :nth-of-type(5) {
  left: 88%;
}
.history-section .history-section-timeline .timeline-content .timeline-chart > :nth-of-type(6) {
  left: 92.4%;
}
.history-section .history-section-timeline .timeline-content .timeline-chart > :nth-of-type(7) {
  left: 99%;
}
.history-section .history-section-timeline .timeline-content .timeline-chart > :nth-of-type(8) {
  left: 2299.66%;
}
.history-section .history-section-timeline .timeline-content .timeline-events .timeline-event {
  width: fit-content;
  position: absolute;
  top: 20px;
}
.history-section .history-section-timeline .timeline-content .timeline-events > :nth-of-type(1) {
  left: 1.1%;
}
.history-section .history-section-timeline .timeline-content .timeline-events > :nth-of-type(2) {
  left: 29.26%;
}
.history-section .history-section-timeline .timeline-content .timeline-events > :nth-of-type(3) {
  left: 38.5%;
}
.history-section .history-section-timeline .timeline-content .timeline-events > :nth-of-type(4) {
  left: 88%;
}
.history-section .history-section-timeline .timeline-content .timeline-events > :nth-of-type(5) {
  left: 92.4%;
}
.history-section .history-section-timeline .timeline-content .timeline-events > :nth-of-type(6) {
  left: 99%;
}
.history-section .history-section-timeline .timeline-content .timeline-events > :nth-of-type(7) {
  left: 2299.66%;
}
.history-section .history-section-timeline .timeline-content .events .event {
  position: absolute;
  top: -12rem;
  display: flex;
  flex-direction: row-reverse;
  max-height: 300px;
  background-color: #DE753D;
  color: #f0f0f0;
  padding: 8px;
  gap: 16px;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path 0.3s ease;
}
.history-section .history-section-timeline .timeline-content .events .event img {
  width: 200px;
  object-fit: cover;
}
.history-section .history-section-timeline .timeline-content .events .event h6 {
  color: #c9c9c9;
  font-weight: 500;
}
.history-section .history-section-timeline .timeline-content .events .event.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.history-section .history-section-timeline .timeline-content .events > :nth-of-type(1) {
  left: 0.55%;
}
.history-section .history-section-timeline .timeline-content .events > :nth-of-type(2) {
  left: 14.63%;
}
.history-section .history-section-timeline .timeline-content .events > :nth-of-type(3) {
  left: 19.25%;
}
.history-section .history-section-timeline .timeline-content .events > :nth-of-type(4) {
  left: 44%;
}
.history-section .history-section-timeline .timeline-content .events > :nth-of-type(5) {
  left: 46.2%;
}
.history-section .history-section-timeline .timeline-content .events > :nth-of-type(6) {
  left: 80%;
}
.history-section .history-section-timeline .timeline-content .events > :nth-of-type(7) {
  left: 80%;
}

/*======================SECTIONS=============================*/
@keyframes animateColor {
  0% {
    opacity: 40%;
  }
  50% {
    opacity: 60%;
  }
  90% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes moveIcon {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

/*# sourceMappingURL=style.css.map */
